body {
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-img {
    height: auto;
    width: 150px;
}

.card {
    border-bottom: 6px solid #faedcd;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #ccd5ae;
    color: #d4a373;
}

.dbb {
    border: 1px dotted blue;
}